#contact-container {
    position: relative;
    left: 9.5vw;
    width: 80vw;
    display: flex;
    flex-direction: ltr;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* box class for both form and email contacts */
.box {
    position: relative;
    top: 100px;
    width: 30vw;
    min-width: 300;
    margin-top: 40px;
    background-color: #8a89897c;
    border: 3px solid #ffffff;
}

/* the button that sends you to the form page */
#form-link {
    position: relative;
    left: 20px;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    background-color: #e26262;
    border: 3px solid #ffffff;
    font-family: 'Ubuntu';
    font-size: 1.5vw;
    text-decoration: none;
    animation-name: form-hover-off;
    animation-duration: 0.2s;
}
#form-link:hover {
    background-color: #e29191;
    animation-name: form-hover-on;
}

/* the regular text in the contact boxes */
.box-info {
    position: relative;
    padding: 10px 10px 10px 10px;
}

#background {
    position: absolute;
    top: 0px;
    left: 10vw;
    width: 80vw;
    height: 100vh;
    background-color: #574363;
    box-shadow: 5px 5px 5px #2a1e30;
}

/* keyframes */
@keyframes form-hover-on {
    from {background-color: #e26262;}
    to {background-color: #e29191;}
}
@keyframes form-hover-off {
    from {background-color: #e29191;}
    to {background-color: #e26262;}
}