#image1 {
    position: relative;
    top: 250px;
    width: 300px;
    height: auto;
    animation-name: image2-intro;
    animation-duration: 0.8s;
    background-color: #000000;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
}
#text1 {
    position: relative;
    top: 250px;
    max-width: 400px;
    height: auto;
    margin-left: 5vw;
    font-family: 'Ubuntu';
    background-color: rgba(215, 221, 221, 0.45);
    color: #000000;
    padding: 8px 8px 8px 8px;
    font-size: 20px;
    border-radius: 2px;
    animation-name: text1-intro;
    animation-duration: 0.5s;
    margin-right: 50px;
}
#learn-more-button {
    position: relative;
    top: 350px;
    left: 10vw;
    font-family: 'Ubuntu';
    padding: 8px 8px 8px 8px;
    border-radius: 2px;
    color: #ffffff;
    background-color: none;
    text-decoration: none;
    animation-name: learn-more-hover-off;
    animation-duration: 0.1s;
}
#learn-more-button:hover {
    color: #000000;
    background-color: rgba(215, 221, 221, 0.45);
    animation-name: learn-more-hover-on;
}
@keyframes text1-intro {
    from {left: -100px; opacity: 0;}
    to {left: 0px; opacity: 1;}
}
@keyframes image2-intro {
    0% {left: 100px; opacity: 0;}
    40% {left: 100px; opacity: 0;}
    100% {left: 0px; opacity: 1;}
}
@keyframes learn-more-hover-on {
    from {background-color: transparent; color: #ffffff;}
    to {background-color: rgba(215, 221, 221, 0.45); color: #000000;}
}
@keyframes learn-more-hover-off {
    from {background-color: rgba(215, 221, 221, 0.45); color: #000000;}
    to {background-color: transparent; color: #ffffff;}
}