/* desktop port */
@media (orientation: landscape) {
    #container1 {
        display: flex; 
        flex-direction: ltr; 
        justify-content: space-evenly; 
        flex-wrap: nowrap;
    }

    #image1 {
        position: relative;
        top: 150px;
        width: 30vw;
        min-width: 100px;
        height: auto;
        background-color: #ffffff;
        padding: 4px 4px 4px 4px;
        border-radius: 10px;
        margin-bottom: 100px;
        animation-name: item-intro;
        animation-duration: 1s;
    }

    #text1 {
        position: relative;
        top: 150px;
        width: 30vw;
        max-width: 400px;
        min-width: 300px;
        height: auto;
        background-color: rgba(215, 221, 221, 0.45);
        color: #000000;
        padding: 8px 8px 8px 8px;
        border-radius: 10px;
        margin-bottom: 100px;
        animation-name: item-intro;
        animation-duration: 1s;
    }
}

/* mobile port */
@media (orientation: portrait) {
    #container1 {
        display: flex; 
        flex-direction: column; 
        justify-content: space-evenly; 
        flex-wrap: nowrap;
    }

    #image1 {
        position: relative;
        top: 150px;
        left: 30vw;
        width: 40vw;
        height: auto;
        background-color: #ffffff;
        padding: 4px 4px 4px 4px;
        border-radius: 10px;
        margin-bottom: 100px;
        animation-name: item-intro;
        animation-duration: 1s;
    }

    #text1 {
        position: relative;
        top: 150px;
        left: 25vw;
        width: 50vw;
        height: auto;
        background-color: rgba(215, 221, 221, 0.45);
        color: #000000;
        padding: 8px 8px 8px 8px;
        border-radius: 10px;
        margin-bottom: 100px;
        animation-name: item-intro;
        animation-duration: 1s;
    }
}
#text2 {
    position: relative;
    top: 150px;
    left: 20vw;
    width: 60vw;
    margin-bottom: 200px;
    background-color: rgba(215, 221, 221, 0.45);
    color: #000000;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    animation-name: item-intro;
    animation-duration: 1s;
}

/* holds both videos and manages them */
#video-container {
    position: relative;
    top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: ltr;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.video {
    position: relative;
    width: 560px;
    height: 315px;
    background-color: #ffffff;
    padding: 4px 4px 4px 4px;
    border-radius: 10px;
    margin-bottom: 100px;
    animation-name: video-intro;
    animation-duration: 0.6s;
}
/* link to product page */
#product-link {
    color: #94224e;
    text-decoration: none;
}
#product-link:hover {
    color: #c01a5a;
    text-decoration: underline;
}

/* h2 wrapper */
#h2-wrapper {
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    animation-name: h2-intro;
    animation-duration: 1s;
}

/* keyframes */
@keyframes item-intro {
    from {filter: blur(4px); opacity: 0;}
    to {filter: blur(0px); opacity: 1;}
}
@keyframes video-intro {
    from {top: 300px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

@keyframes h2-intro {
    0% {top: 200px; opacity: 0;}
    50% {opacity: 0;}
    100% {top: 50px; opacity: 1;}
}