/* main keyframes */

/* navigation bar animation for when operating on desktop */
@keyframes navbar-slide-in-desktop {
    from {left: -250px;}
    to {left: 0px;}
}
@keyframes navbar-slide-out-desktop {
    from {left: 0px;}
    to {left: -250px;}
}

/* navigation bar animation for when operating on mobile */
@keyframes navbar-slide-in-mobile {
    from {top: -80vh;}
    to {top: 0px;}
}
@keyframes navbar-slide-out-mobile {
    from {top: 0px;}
    to {top: -80vh;}
}

/* hover animations for navigation bar item */
@keyframes navbar-item-hover {
    from {background-color: transparent; color: #ffffff;}
    to {background-color: rgba(215, 221, 221, 0.4); color: #000000;}
}
@keyframes navbar-item-cancel-hover {
    from {background-color: rgba(215, 221, 221, 0.4); color: #000000;}
    to {background-color: transparent; color: #ffffff;}
}

/* animation white transparent wall in background when navbar is on */
@keyframes menu-background-on {
    from {background-color: transparent; width: 100vw;}
    to {background-color: rgba(255, 255, 255, 0.25); width: 100vw;}
}
@keyframes menu-background-off {
    from {background-color: rgba(255, 255, 255, 0.25); width: 100vw;}
    to {background-color: transparent; width: 100vw;}
}

/* footer animations */
@keyframes footer-slide-in {
    from {top: 100vh; opacity: 0;}
    to {top: calc(100vh - 80px); opacity: 1;}
}
@keyframes footer-slide-out {
    from {top: calc(100vh - 80px); opacity: 1;}
    to {top: 100vh; opacity: 0;}
}
/* FLL logo animations on footer */
@keyframes fll-logo-intro {
    0% {top: 50px; opacity: 0;}
    70% {top: -50px; opacity: 1;}
    80% {top: -45px; opacity: 1;}
    90% {top: -35px; opacity: 1;}
    100% {top: -30px; opacity: 1;}
}