/* fonts */

/* Roboto - use for navbar button text */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* IBM Plex Mono - use for titles and footer text */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
/* Ubuntu - use for paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* import other main css files */
@import "keyframes.css";
@import "navbar.css";
@import "footer.css";

/* 
color palette:
#757083
#2F2235
*/

#logo {
    position: absolute;
    top: 20px;
    left: 0px;
    -webkit-user-drag: none;
    width: 100;
    height: auto;
    margin-left: 10vw;
}

#background-image {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    -webkit-user-drag: none;
}
#background-gradient {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
#extender {
    position: absolute;
    top: opx;
    width: 1px;
    height: 0px;
}

/* the title heading */
h1 {
    position: relative;
    top: 30px;
    text-align: center;
    font-family: 'IBM Plex Mono';
    font-size: 4vw; /* width parameter */
    color: #ffffff;
}
/* mini heading */
h2 {
    position: relative;
    font-family: 'IBM Plex Mono';
    color: #ffffff;
    padding: 10px 10px 10px 10px;
}
/* regular text */
p {
    font-family: 'Ubuntu';
    font-size: 1.2vw; /* width parameter */
    color: #ffffff;
}


/* if the screen is wider than 1400px, to prevent the title from getting TOO large,
just set it to a fixed size of 50px */
@media screen and (min-width: 1400px) {
    h1 {
        position: relative;
        top: 30px;
        text-align: center;
        font-family: 'IBM Plex Mono';
        font-size: 50px;
        color: #ffffff;
    }
}